/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-color: #000028;
    --btn-color: #ff0070;
    --btn-hover-border-color: #660045;
    --rec-color: #ff0070;
    --main-title-color: #db00ff;
    --main-title-color-shadow: #ff0070;
    --title-color: #000028;
    --bg-title-color: #ff0070;
    --topic-title-color: #ff0070;
    --description-color: #f1b2ce;
    --link-color-shadow: #ff0070;
    --rec-line-color: #ff0070;
    --header-image: url(../images/cover-image-dark.png);
    --rec-display: inline;
    --rec-circle-display: block;
    --link-border: #f1b2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --btn-color: #ff0070;
    --btn-hover-border-color: #660045;
    --rec-color: #ff0070;
    --main-title-color: #db00ff;
    --main-title-color-shadow: #ff0070;
    --title-color: #000028;
    --bg-title-color: #ff0070;
    --topic-title-color: #ff0070;
    --description-color: #f1b2ce;
    --link-color-shadow: #ff0070;
    --rec-line-color: #ff0070;
    --header-image: url(../images/cover-image-dark.png);
    --rec-display: inline;
    --rec-circle-display: block;
    --link-border: #f1b2ce;
  }
}