/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-color: #fff1f7;
    --btn-color: #353430;
    --main-title-color: #ffc2e6;
    --main-title-color-shadow: #ff8dcb;
    --title-color: #353430;
    --bg-title-color: #ff8dcb;
    --topic-title-color: #353430;
    --description-color: #353430;
    --link-color-shadow: #ff8dc3;
    --header-image: url(../images/cover-image-light.png);
}