/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: var(--font-bold);
  letter-spacing: 0;
  background-color: var(--bg-color, #000028);
}

.main-title {
  font-size: var(--main-title-size, 116px);
  line-height: var(--main-title-line-height, 83%);
  color: var(--main-title-color, #db00ff);
  text-shadow: 4px 4px var(--main-title-color-shadow, #ff0070);
}

.topic-title {
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  color: var(--topic-title-color, #ff0070);
}

.title {
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  color: var(--title-color, #000028);
  background-color: var(--bg-title-color, #ff0070);
}

.title_type_bold {
  font-weight: var(--font-bold, 700);
}

.title_type_regular {
  font-weight: var(--font-regular, 400);
}

.description {
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  color: var(--description-color, #f1b2ce);
  font-weight: var(--font-regular, 400);
}

.flex-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
}

.flex-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color-shadow, #ff0070);
}

.header {
  position: relative;
  inline-size: clamp(375px, 100vw, 1440px);
  block-size: 100vh;
  background-image: var(--header-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px #ff0070 solid;
  border-right: 1px #ff0070 solid;
  top: 10px;
  right: 10px;
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px #ff0070 solid;
  border-left: 1px #ff0070 solid;
  bottom: 10px;
  left: 10px;
}

.decorated-zone {
}

.header__theme-menu {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 75px 10px 0 0;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--btn-color, #ff0070);
  border: 1px solid currentColor;
  width: 70px;
  height: 26px;
  font-size: var(--text-size, 1.125em);
  line-height: var(--btn-line-height, 1em);
  vertical-align: 0;
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  font-size: var(--text-size, 1.125em);
  line-height: var(--rec-line-height, 1.39em);
  color: var(--rec-color, #ff0070);
  font-weight: var(--font-regular, 400);
  text-transform: uppercase;
}

.header__rec-circle {
  position: absolute;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  color: #ff0070;
  background-color: currentColor;
  top: 18px;
  right: 19px;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__main-title {
  margin: 0 10px 55px 10px;
}

.header__title {
  margin: 0 10px;
}

.main {
}

.why {
  margin-bottom: 50px;
}

.why__topic-title {
}

.why__text-block {
}

.why__title {
}

.why__description {
}

.what {
  margin-bottom: 50px;
}

.what__topic-title {
}

.what__text-block {
}

.what__title {
}

.what__description {
}

.how {
  margin-bottom: 50px;
}

.how__topic-title {
}

.how__title {
}

.how__text-block {
}

.how__description {
}

.gallery {
  margin: 0 10px 40px 10px;
}

.gallery__title {
}

.gallery__images-block {
}

.gallery__image {
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: clamp(375px, 100vw, 1440px);
  block-size: 100vh;
}

.footer::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px #ff0070 solid;
  border-right: 1px #ff0070 solid;
  top: 10px;
  right: 10px;
}

.footer::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px #ff0070 solid;
  border-left: 1px #ff0070 solid;
  bottom: 10px;
  left: 10px;
}

.footer__main-title {
}
