/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: var(--font-bold);
  letter-spacing: 0;
  background-color: var(--bg-color, #000028);
  background-image: var(--header-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-title {
  font-size: clamp(116px, 30vw ,120px);
  line-height: var(--main-title-line-height, 83%);
  color: var(--main-title-color, #db00ff);
  text-shadow: 4px 4px var(--main-title-color-shadow, #ff0070);
}

.topic-title {
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  color: var(--topic-title-color, #ff0070);
}

.title {
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  color: var(--title-color, #000028);
  background-color: var(--bg-title-color, #ff0070);
}

.title_type-bold {
  font-weight: var(--font-bold, 700);
}

.title_type_regular {
  font-weight: var(--font-regular, 400);
}

.description {
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  color: var(--description-color, #f1b2ce);
  font-weight: var(--font-regular, 400);
}

.flex-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 clamp(10px, 2.66vw, 20px);
}

.flex-block {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.66vw, 20px);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color-shadow, #ff0070);
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  inline-size: clamp(375px, 100vw, 1440px);
  block-size: 100vh;
  padding: clamp(10px, 2.66vw, 20px);
  padding-left: 0;
  margin-bottom: 40px;
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  color: var( --rec-line-color, #ff0070);
  border-top: 1px currentColor solid;
  border-right: 1px currentColor solid;
  top: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
  right: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
    color: var( --rec-line-color, #ff0070);
  border-bottom: 1px currentColor solid;
  border-left: 1px currentColor solid;
  bottom: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
  left: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
}

.decorated-zone {
}

.header__theme-menu {
  width: 100%;
  grid-column: span 2;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--btn-color, #ff0070);
  border: 1px solid currentColor;
  width: 70px;
  height: 26px;
  font-size: var(--text-size, 1.125em);
  line-height: var(--btn-line-height, 1em);
  vertical-align: 0;
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.header__rec {
  position: absolute;
  top: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
  right: clamp(38px, calc(38px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 48px);
  font-size: var(--text-size, 1.125em);
  line-height: var(--rec-line-height, 1.39em);
  color: var(--rec-color, #ff0070);
  font-weight: var(--font-regular, 400);
  text-transform: uppercase;
}

.header__rec-circle {
  position: absolute;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  color: #ff0070;
  background-color: currentColor;
  top: clamp(18px, calc(18px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 28px);
  right: clamp(19px, calc(19px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 29px);
  box-shadow: 0 0 4px 2px currentColor;
}

.header__main-title {
  grid-column: span 2;
  margin-left: clamp(0px, calc(10px - ( 10px * ( 100vw - 375px) / (768px - 375px))), 10px);
}

.container {
  display: flex;
  align-items: center;
  grid-column: span 2;
}

.header__title {
  margin-left: clamp(10px, 2.66vw, 20px);
}

.main {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, calc(50px + (30px * (100vw - 375px) / (768px - 375px))), 80px);
}

.main:last-child {
  margin-bottom: clamp(40px, calc(40px + ( 20px * ( 100vw - 375px) / (768px - 375px))), 60px);
}

.why {
}

.why__topic-title {
}

.why__text-block {
}

.why__title {
}

.why__description {
}

.what {
}

.what__topic-title {
}

.what__text-block {
}

.what__title {
}

.what__description {
}

.how {
}

.how__topic-title {
}

.how__title {
}

.how__text-block {
}

.how__description {
}

.gallery {

}

.gallery__title {
}

.gallery__images-block {
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: clamp(375px, 100vw, 1440px);
  block-size: 100vh;
}

.footer::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
    color: var( --rec-line-color, #ff0070);
  border-top: 1px currentColor solid;
  border-right: 1px currentColor solid;
  top: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
  right: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
}

.footer::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
    color: var( --rec-line-color, #ff0070);
  border-bottom: 1px currentColor solid;
  border-left: 1px currentColor solid;
  bottom: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
  left: clamp(10px, calc(10px + ( 10px * ( 100vw - 375px) / (768px - 375px))), 20px);
}

.footer__main-title {
}

@media (width >= 768px) {

  .flex-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

  .flex-block {
    grid-column: 2 / auto;
}

  .gallery__images-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__image {

  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery__image:nth-child(5) {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
  }

  .what__text-block {
    grid-column: span 2;
}

  .how__topic-title {
    grid-row: span 2;
  }

  .container {
  grid-column: 2 / auto;
  margin-left: 0;
  }

  .header__title {
    margin-left: 0;
  }
}