/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", monospace;
  font-weight: var(--font-bold);
  letter-spacing: 0;
  background-color: var(--bg-color, #000028);
  background-image: var(--header-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-title {
  color: var(--main-title-color, #db00ff);
  font-size: clamp(
    116px,
    calc(116px + (4px * (100vw - 375px) / (768px - 375px))),
    120px
  );
  line-height: var(--main-title-line-height, 83%);
  text-shadow: 4px 4px var(--main-title-color-shadow, #ff0070);
}

.topic-title {
  color: var(--topic-title-color, #ff0070);
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
}

.title {
  color: var(--title-color, #000028);
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
  background-color: var(--bg-title-color, #ff0070);
}

.title_type-bold {
  font-weight: var(--font-bold, 700);
}

.title_type_regular {
  font-weight: var(--font-regular, 400);
}

.description {
  color: var(--description-color, #f1b2ce);
  font-weight: var(--font-regular, 400);
  font-size: var(--text-size, 1.125em);
  line-height: var(--text-line-height, 1.3em);
}

.display-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 clamp(10px, 2.66vw, 20px);
}

.display-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color-shadow, #ff0070);
}

.link:hover {
  border-bottom: 1px solid var(--link-border, #f1b2ce);
}

.link:focus-visible {
  border: 1px solid var(--link-border, #f1b2ce);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: clamp(
    10px,
    calc(10px + (10px * (100vw - 375px) / (768px - 375px))),
    20px
  );
  right: clamp(
    10px,
    calc(10px + (10px * (100vw - 375px) / (768px - 375px))),
    20px
  );
  display: block;
  border-top: 1px currentColor solid;
  border-right: 1px currentColor solid;
  color: var(--rec-line-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: clamp(
    10px,
    calc(10px + (10px * (100vw - 375px) / (768px - 375px))),
    20px
  );
  left: clamp(
    10px,
    calc(10px + (10px * (100vw - 375px) / (768px - 375px))),
    20px
  );
  display: block;
  border-bottom: 1px currentColor solid;
  border-left: 1px currentColor solid;
  color: var(--rec-line-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  margin-bottom: clamp(
    40px,
    calc(40px + (20px * (100vw - 375px) / (768px - 375px))),
    60px
  );
  padding: clamp(10px, 2.66vw, 20px);
  padding-left: 0;
  inline-size: clamp(375px, 100%, 1440px);
  block-size: 100vh;
}

.header__theme-menu {
  display: flex;
  grid-column: span 2;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  vertical-align: 0;
  color: var(--btn-color, #ff0070);
  font-size: var(--text-size, 1.125em);
  line-height: var(--btn-line-height, 1em);
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-border-color, #660045);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__rec {
  position: absolute;
  top: clamp(
    10px,
    calc(10px + (10px * (100vw - 375px) / (768px - 375px))),
    20px
  );
  right: clamp(
    38px,
    calc(38px + (10px * (100vw - 375px) / (768px - 375px))),
    48px
  );
  display: var(--rec-display, inline);
  color: var(--rec-color, #ff0070);
  font-weight: var(--font-regular, 400);
  font-size: var(--text-size, 1.125em);
  line-height: var(--rec-line-height, 1.39em);
  text-transform: uppercase;
}

.header__rec-circle {
  position: absolute;
  top: clamp(
    18px,
    calc(18px + (10px * (100vw - 375px) / (768px - 375px))),
    28px
  );
  right: clamp(
    19px,
    calc(19px + (10px * (100vw - 375px) / (768px - 375px))),
    29px
  );
  display: var(--rec-circle-display, block);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  color: #ff0070;
  background-color: currentColor;
  inline-size: 9px;
  block-size: 9px;
}

.header__main-title {
  grid-column: span 2;
  margin-left: clamp(
    0px,
    calc(10px - (10px * (100vw - 375px) / (768px - 375px))),
    10px
  );
}

.container {
  grid-column: span 2;
  align-self: center;
}

.header__title {
  margin-left: clamp(10px, 2.66vw, 20px);
}

.main {
  display: flex;
  flex-direction: column;
  gap: clamp(
    50px,
    calc(50px + (30px * (100vw - 375px) / (768px - 375px))),
    80px
  );
}

.main:last-child {
  margin-bottom: clamp(
    40px,
    calc(40px + (20px * (100vw - 375px) / (768px - 375px))),
    60px
  );
}

.what__text-block-list {
  margin: 0;
}

.gallery {
  margin-bottom: clamp(
    40px,
    calc(40px + (20px * (100vw - 375px) / (768px - 375px))),
    60px
  );
  padding: 0 clamp(10px, 2.66vw, 20px);
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: clamp(375px, 100%, 1440px);
  block-size: 100vh;
}

@media (width >= 768px) {
  .main-title {
    font-size: clamp(
      120px,
      calc(120px + (37px * (100vw - 768px) / (1024px - 768px))),
      157px
    );
  }

  .display-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .display-block {
    grid-column: 2 / 3;
  }

  .gallery__images-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__images-list-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .gallery__images-list-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery__images-list-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery__images-list-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery__images-list-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .what__text-block-list {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / auto;
    row-gap: 20px;
  }

  .what__text-block-list-item {
    grid-column: 1 / -1;
  }

  .how__topic-title {
    grid-row: span 2;
  }

  .container {
    grid-column: 2 / auto;
    margin-left: 0;
  }

  .header__title {
    margin-left: 10px;
  }

  .gallery__images-block.display-block {
    display: block;
  }
}

@media (width >= 1024px) {
  .display-section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }

  .display-block {
    grid-column: 2 / 4;
  }

  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-left: 20px;
  }

  .what__text-block-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 2 / auto;
    column-gap: 20px;
  }

  .what__text-block-list-item {
    grid-column: initial;
  }

  .how__title {
    grid-column: span 2;
  }
}
