/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-bold: 700;
  --font-regular: 400;
  --text-size: 1.125em;
  --text-line-height: 1.3em;
  --rec-line-height: 1.39em;
  --btn-line-height: 1em;
  --main-title-line-height: 83%;
}
